
*{
    padding: 0;
    margin: 0;
}


                              @media only screen and (min-width: 320px) and (max-width: 767px){


body{
      
         background-color: black;

}

  
header{
       border-bottom: 2px solid black;
}

.colorwhite{
       
        color: white !important;
 }
 .colorwhite:hover {
        color: #dfef37 !important;
        border-bottom: 1px solid #dfef37 !important;
 }

 .bgcolor{
        background-color: #47454d;
 }

 .pinkbgcolor{
        background-color: #fca2d2; 
    
 }
                                                        /* FOOTER SECTION */
.footerdiv{
        border-top: 1px solid #C6C6C6;
   
}
.logosdiv{

        margin-right: 15px;
        display: flex;
        margin-top: 10px;
}
.redes{
    color: #E7E7E7;
    font-size: 25px;
    margin: 10px;

}
.iglogo{
      margin-top: 5px;
}
.newslettercontainer{
      margin-bottom: 40px;
}

.newslettercontainer p{
        color: aliceblue;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 5px;
}
.newslettercontainer button{
        padding: 6px;
        padding-left: 13px;
        padding-right: 13px;
        border-radius: 4px;
        background-color: #dfef37;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        border: 1px solid #dfef37;
}
.newslettercontainer button:hover{
       background-color: rgb(244, 255, 128);
       transition: 1s;
}


.emailinput{
        width: 250px;
        padding: 7px;
        background-color: #5e5b66;
        border: #5e5b66;
        border-radius: 3px;
        margin-left: 5px;
        
}
                                              /* .............PAGE INICIO............. */





h1{
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        text-align: center;
        color: #dfef37;
        margin: 15px;
        text-shadow: 4px 4px 4px gray;
        font-weight: 500;
    

}

.titulo{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
        margin: 30px;
}

.mundofitness{
        color: hotpink; 
}

.buttonconocenos a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
}

 .buttonconocenos button{
        background-color: black;
        border-radius: 2px;
        border: 1px solid black;
        box-shadow: 0 0 15px 0 white;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
 }

 .buttonconocenos:hover button{
        box-shadow: 0 0 30px 0 white;
        transition: 1s;
 }

 .buttonconocenos{
        background-color: black;
        display: flex;
        justify-content: center;
        margin-top: 80px;
 }




.APRENDE{
        background-color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        border: 2px solid #f7bbce;
        box-shadow: 0 0 30px 0 whitesmoke;
}
.tituloaprende{
        font-size: 37px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        margin: auto;
        font-weight: 700;
        color: rgb(223, 135, 184);
}

.listasdeaprende{
       display: inline-block;
       justify-content: center;
       padding: 10px;
       width: 200px ; 
       text-align: center; 
       font-family: Arial, Helvetica, sans-serif; 
       
 }

.subtituloaprende{
        font-size: 25px;
        
}

.textoaprende{
        margin: 7px;
}

.botonesaprender{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        border-radius: 5px;
        border: 2px solid black;
        padding: 5px;
        font-size: 17px;
        background-color:#dfef37;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
}

.botonesaprender a{
        text-decoration: none;
        color: black;
}

.botonesaprender:hover a{
       color:black;
       font-size: 20px;
       transition: 0.6s;
       text-shadow: 1px 1px 1px #C6C6C6;
}

.botonesaprender:hover{
        box-shadow: 0 0 15px 0 black;
        transition: 0.7s;

}

    



                                                 /* FIN DE SECCION ALIMENTACION */
    
.espacioentresegmentos{
    color: black;
    padding: 90px;
}

.espacioentresegmentospequeño{
    color: black;
    padding: 50px;
}


#cardsdiv{
    display: flex;
    text-align: center;
    justify-content: center;
   margin-left: 20px;
   margin: 1px;
    
}

.margincards{
    margin: 6px;
}


.titulorutinas{
    color: #fca2d2;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 25px;
}
.btncolor{
    background-color: #f7bbce !important;
    border: solid 1px #C6C6C6;
    color: rgb(149, 149, 149);
    font-weight: 500;
    
}
.supercarddivcontainer{
    background-color: #E7E7E7;
    padding: 10px;
}

}


                            @media only screen and (min-width: 768px) and (max-width:2701px) 
{
    
body{
        background-color: #262727;
}



header{
      
        border-bottom: 2px solid #5e5b66;

}
    

.colorwhite{
       
        color: white !important;
        font-size: 20px;
}

.colorwhite:hover {
        color: #dfef37 !important;
        border-bottom: 1px solid #dfef37 !important;
}
  
.bgcolor{
        background-color: rgb(26, 26, 26);
}

.pinkbgcolor{
        background-color: #C6C6C6; 
        
}
                                                       /* FOOTER SECTION */
.footerdiv{
        border-top: 1px solid #C6C6C6;
        display: flex;
        justify-content: space-between;
   
}
.logosdiv{

        margin-right: 15px;
        display: flex;
        margin-top: 10px;
}
.redes{
    color: #E7E7E7;
    font-size: 25px;
    margin: 10px;

}
.iglogo{
      margin-top: 5px;
}
.newslettercontainer{
      margin-bottom: 40px;
}

.newslettercontainer p{
        color: aliceblue;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10px;
}
.newslettercontainer button{
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
        background-color: #dfef37;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        border: 1px solid #dfef37;
}
.newslettercontainer button:hover{
       background-color: rgb(244, 255, 128);
       transition: 1s;
       font-size: 18px;
}


.emailinput{
        width: 400px;
        padding-right: 20px;
        padding: 8px;
        background-color: #5e5b66;
        border: #5e5b66;
        border-radius: 3px;
        margin-left: 10px;
        
}
     
                                      /* .................PAGE INICIO................. */
h1{
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 75px;
        text-align: center;
        color:  #dfef37;
        font-weight: 700;
        margin: 15px;
        text-shadow: 4px 4px 4px gray;
        margin-top: 40px;

}

.buttonconocenos a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: black;
}

.buttonconocenos button{
        background-color: black;
        border-radius: 6px;
        border: 1px solid black;
        box-shadow: 0 0 17px 0 white;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
}

.buttonconocenos:hover button{
        box-shadow: 0 0 90px 0 white;
        transition: 1s;
}

.buttonconocenos{
       
        display: flex;
        justify-content: center;
        margin-top: 80px;
}

.titulo{
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
        margin: auto;
        font-size: 30px;
        width: 750px;
        margin-top: 50px;
}

.mundofitness{
        color: deeppink; 
}

.online{
        color: deeppink;
        font-size: 29px;
}
    
    
                                                    /* SECCION INICIO APRENDE */
.APRENDE{
        background-color: #5e5b66;
        display: flex;
        justify-content: center;
        width: 80%;
        border-radius: 5px;
        margin: auto;
        box-shadow: 0 0 40px 0 white;
       
}

.APRENDE:hover {
        background-color: rgb(205, 203, 204);
        transition: 1.5s;
}
        
.tituloaprende{
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        display:flex ;
        justify-content: center;
        font-weight: 700;
        color: black;
        margin-top: 20px;
}
    
.listasdeaprende{
        display: inline-block;
        padding: 0px;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
        width: 300px ; 
        text-align: center; 
        font-family: Arial, Helvetica, sans-serif; 
            
           
           
}
    
.subtituloaprende{
        font-size: 35px;
            
 }
    
.textoaprende{
         margin: 7px;
        font-size: 18px;
          
}

.botonesaprender{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
        font-size: 20px;
        background-color:#dfef37;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
 }

.botonesaprender a{
        text-decoration: none;
        color: black;
}

.botonesaprender:hover a{
        color:black;
        font-size: 25px;
        transition: 0.6s;
        text-shadow: 1px 1px 1px gainsboro;
}

.botonesaprender:hover{
        box-shadow: 0 0 15px 0 black;
        transition: 0.7s;

}

    
                                           /* FIN  DE SECCION INICI0 APRENDE */   
    
    
.espacioentresegmentos{
        color: black;
        padding: 300px;
}
 .espacioentresegmentospequeño{
        color: black;
        padding: 100px;
}
    
    







                                                         /* PAGE RUTINAS */

.titulorutinas{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    color: hotpink;
}

.containersubtitulorutinas{
        display:flex;
        justify-content: center;    
}

.subtitulorutinas{
    margin-top: 30px;
    border-radius: 10px;
    padding: 8px;
    color: #E7E7E7;
    font-size: 20px;
    box-shadow: 0 0 50px 0 pink;
}

.container-registrarse{
        margin-top: 90px;
        display:flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: aliceblue;

}


.container-registrarse a{
        
      
       font-family: Arial, Helvetica, sans-serif;
       color: deeppink;
}
.container-registrarse a:hover{
        font-size: 24px;
        transition: 1s;


}


#cardsdiv{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin: 1px;
 
}

.margincards{
    margin: 15px;
    
}

.margincards:hover{
    box-shadow: 0 0 30px 0 pink;
}


.supercarddiv{
    display: flex;
    justify-content: center;
}
.btncolor{
    background-color: #dfef37 !important;
    border: solid 1px black;
    color: black;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    
}

.btncolor:hover{
    font-size: 20px;
    box-shadow: 0 0 15px 0 black;
    transition: 0.5s;
    color: #262727;
}

}