* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

header {
  border-bottom: 2px solid black;
}

.colorwhite {
  color: white !important;
}

.colorwhite:hover {
  color: #dfef37 !important;
  border-bottom: 1px solid #dfef37 !important;
}

.bgcolor {
  background-color: #47454d;
}

.pinkbgcolor {
  background-color: #fca2d2;
}

.footerdiv {
  border-top: 1px solid #C6C6C6;
}

.logosdiv {
  margin-right: 15px;
  display: flex;
  margin-top: 10px;
}

.newslettercontainer {
  margin-bottom: 40px;
}

.newslettercontainer p {
  color: aliceblue;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}

.newslettercontainer button:hover {
  background-color: rgb(244, 255, 128);
  transition: 1s;
}

.buttonconocenos a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}

.buttonconocenos button {
  background-color: black;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 0 0 15px 0 white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.buttonconocenos:hover button {
  box-shadow: 0 0 30px 0 white;
  transition: 1s;
}

.buttonconocenos {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.botonVR {
  display: flex;
  justify-content: center;
}

.botonVR a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 19px;
}

.botonVR button:hover a {
  font-size: 21px;
  transition: 1s;
}

.botonVR button:hover {
  box-shadow: 0 0 25px 0 white;
}

.botonesaprender {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  border-radius: 5px;
  border: 1px solid black;
  padding: 7px 40px 7px 40px;
  font-size: 20px;
  background-color: #dfef37;
  margin-top: 20px;
}

.botonesaprender a {
  text-decoration: none;
  color: black;
}

.botonesaprender:hover a {
  color: black;
  font-size: 25px;
  transition: 0.6s;
  text-shadow: 1px 1px 1px gainsboro;
}

.botonesaprender:hover {
  box-shadow: 0 0 15px 0 black;
  transition: 0.7s;
}

/* page rutinas */
.containersubtitulorutinas {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.subtitulorutinas {
  margin-top: 30px;
  border-radius: 10px;
  padding: 8px;
  color: #E7E7E7;
  font-size: 18px;
  box-shadow: 0 0 50px 0 pink;
}

.container-registrarse {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}

.container-registrarse a {
  font-family: Arial, Helvetica, sans-serif;
  color: deeppink;
}

.container-registrarse a:hover {
  font-size: 24px;
  transition: 1s;
}

.titulorutinas {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;
  margin: auto;
  color: hotpink;
}

#cardsdiv {
  text-align: center;
  justify-content: center;
}

.margincards {
  margin: auto;
  margin-bottom: 20px;
}

.margincards img {
  object-fit: cover;
}

.titulorutinas {
  color: #fca2d2;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding: 25px;
}

.btncolor {
  background-color: #dfef37 !important;
  border: solid 1px black;
  color: black;
  font-weight: 500;
  padding: 8px 30px 8px 30px;
}

.btncolor:hover {
  font-size: 20px;
  box-shadow: 0 0 15px 0 black;
  transition: 0.5s;
  color: #262727;
}

/* queries */
@media only screen and (min-width: 318px) and (max-width: 792px) {
  /* FOOTER SECTION */
  .redes {
    color: #E7E7E7;
    font-size: 25px;
    margin: 10px;
  }
  .newslettercontainer button {
    padding: 6px 7px 6px 7px;
    border-radius: 4px;
    background-color: #dfef37;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid #dfef37;
  }
  .emailinput {
    width: 240px;
    padding: 7px;
    background-color: #5e5b66;
    border: #5e5b66;
    border-radius: 3px;
    margin-left: 5px;
  }
  /* .............PAGE INICIO............. */
  h1 {
    font-family: initial;
    font-size: 3rem;
    text-align: center;
    color: #dfef37;
    margin: 15px;
    text-shadow: 4px 4px 4px gray;
    font-weight: 500;
  }
  .titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: 30px;
  }
  .mundofitness {
    color: hotpink;
  }
  .aprende {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
    border: 2px solid #f7bbce;
    box-shadow: 0 0 30px 0 whitesmoke;
    margin: auto;
  }
  .tituloaprende {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    font-weight: 700;
    color: rgb(223, 135, 184);
  }
  .listasdeaprende {
    display: inline-block;
    justify-content: center;
    padding: 10px;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .subtituloaprende {
    font-size: 25px;
  }
  .textoaprende {
    font-size: 18px;
  }
  .botonesaprender {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-radius: 5px;
    border: 2px solid black;
    padding: 9px 25px 9px 25px;
    font-size: 17px;
    background-color: #dfef37;
    margin-top: 20px;
  }
  .botonesaprender a {
    text-decoration: none;
    color: black;
  }
  .botonesaprender:hover a {
    color: black;
    font-size: 20px;
    transition: 0.6s;
    text-shadow: 1px 1px 1px #C6C6C6;
  }
  .botonesaprender:hover {
    box-shadow: 0 0 15px 0 black;
    transition: 0.7s;
  }
  /*............... SECTION GRID............... */
  .grid-container {
    margin: 10px;
    /* border: 1px solid black; */
    /* display: grid; */
    display: grid;
    /* grid-template-columns: 150px 150px 60px 250px 150px; */
    grid-template-columns: repeat(4, 1fr);
    /* crear filas (ROW) */
    grid-template-rows: repeat(4, 420px);
    /* row-gap 
        column-gap
        gap
    */
    /* row-gap: 10px;
    column-gap: 25px; */
    gap: 15px;
  }
  /* ITEM 01 */
  .grid-item-01 {
    background-color: white;
    grid-column: 1/5;
    grid-row: 1/2;
    border-radius: 2px;
  }
  .grid-item-01 h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.7rem;
    width: 100%;
    font-weight: 600;
    padding: 20px;
    text-shadow: 2px 1px 1px #dfef37;
  }
  .grid-item-01 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-size: 25px;
    width: 95%;
    margin-left: 10px;
  }
  /*ITEM 02 */
  .grid-item-02 {
    background-color: #dfef37;
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 0 40px 0 whitesmoke;
    text-align: left;
  }
  .grid-item-02 h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    text-align: left;
    margin: auto;
  }
  .grid-item-02 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-size: 27px;
    width: 75%;
    margin-top: 15px;
  }
  /* ITEM 03 */
  .grid-item-03 {
    background-color: #99999e;
    grid-column: 1/5;
    grid-row: 3/4;
    border-radius: 5px;
  }
  .grid-item-03 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-size: 1.5rem;
    width: 95%;
    margin: 18px 0px 0px 10px;
  }
  .div-interno-03 span {
    font-size: 22px;
    color: #dfef37;
  }
  .botonVR button {
    background-color: #99999e;
    border-radius: 6px;
    border: 1px solid #dfef37;
    box-shadow: 0 0 17px 0 white;
    padding: 5px 30px 5px 30px;
  }
  /*....FIN DEL SECTION GRID.... */
  /*.....PAGE RUTINAS..... */
}
@media only screen and (min-width: 793px) and (max-width: 2701px) {
  /* FOOTER SECTION */
  .footerdiv {
    display: flex;
    justify-content: space-between;
  }
  .redes {
    color: #E7E7E7;
    font-size: 25px;
    margin: 10px;
  }
  .iglogo {
    margin-top: 5px;
  }
  .newslettercontainer button {
    padding: 7px 20px 7px 20px;
    border-radius: 4px;
    background-color: #dfef37;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid #dfef37;
  }
  .emailinput {
    width: 400px;
    padding-right: 20px;
    padding: 8px;
    background-color: #5e5b66;
    border: #5e5b66;
    border-radius: 3px;
    margin-left: 10px;
  }
  /* .................PAGE INICIO................. */
  h1 {
    font-family: initial;
    font-size: 75px;
    text-align: center;
    color: #dfef37;
    font-weight: 700;
    margin: 15px;
    text-shadow: 4px 4px 4px gray;
    margin-top: 40px;
  }
  .titulo {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin: auto;
    font-size: 30px;
    width: 750px;
    margin-top: 50px;
  }
  .mundofitness {
    color: deeppink;
  }
  .online {
    color: deeppink;
    font-size: 29px;
  }
  /* SECCION INICIO APRENDE */
  .aprende {
    background-color: #5e5b66;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 4px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 0 30px 0 white;
  }
  .aprende:hover {
    background-color: rgb(205, 203, 204);
    transition: 1.5s;
  }
  .tituloaprende {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: black;
    margin-top: 20px;
    text-align: center;
  }
  .listasdeaprende {
    display: inline-block;
    padding: 0px;
    margin: 1px 15px 8px 15px;
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .subtituloaprende {
    font-size: 35px;
  }
  .textoaprende {
    margin: 7px;
    font-size: 18px;
  }
  .botonesaprender {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-radius: 5px;
    border: 1px solid black;
    padding: 7px 40px 7px 40px;
    font-size: 20px;
    background-color: #dfef37;
    margin-top: 20px;
  }
  .botonesaprender a {
    text-decoration: none;
    color: black;
  }
  .botonesaprender:hover a {
    color: black;
    font-size: 25px;
    transition: 0.6s;
    text-shadow: 1px 1px 1px gainsboro;
  }
  .botonesaprender:hover {
    box-shadow: 0 0 15px 0 black;
    transition: 0.7s;
  }
  /* FIN  DE SECCION INICI0 APRENDE */
  /* INICIO DE EL GRID */
  .grid-container {
    margin: 170px 40px 100px 40px;
    /* border: 1px solid black; */
    /* display: grid; */
    display: grid;
    /* grid-template-columns: 150px 150px 60px 250px 150px; */
    grid-template-columns: repeat(3, 1fr);
    /* crear filas (ROW) */
    grid-template-rows: repeat(3, 250px);
    /* row-gap 
        column-gap
        gap
    */
    /* row-gap: 10px;
    column-gap: 25px; */
    gap: 20px;
  }
  .grid-item-01 {
    background-color: white;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 5px;
  }
  .grid-item-01 h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 2.2rem;
    width: 88%;
    font-weight: 600;
    padding: 20px;
    text-shadow: 2px 2px 2px #dfef37;
  }
  .grid-item-01 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-size: 28px;
    width: 89%;
    margin-left: 20px;
  }
  .grid-item-02 {
    background-color: #dfef37;
    grid-column: 3/4;
    grid-row: 1/4;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 0 40px 0 whitesmoke;
  }
  .grid-item-02 h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-weight: bold;
    font-size: 2.5rem;
    width: 75%;
    margin-top: 25px;
    margin-left: 10px;
  }
  .grid-item-02 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-size: 27px;
    width: 75%;
    margin: 25px 0px 0px 10px;
  }
  .grid-item-03 {
    background-color: #99999e;
    grid-column: 1/3;
    grid-row: 3/4;
    border-radius: 5px;
  }
  .grid-item-03 p {
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-size: 1.3rem;
    width: 95%;
    margin-top: 18px;
    margin-left: 13px;
  }
  .grid-item {
    border: 1px solid blue;
  }
  .div-interno-03 {
    display: flex;
    justify-content: space-around;
  }
  .div-interno-03 span {
    font-size: 22px;
    color: #dfef37;
  }
  .botonVR button {
    background-color: #99999e;
    border-radius: 6px;
    border: 1px solid #dfef37;
    box-shadow: 0 0 17px 0 white;
    padding: 10px 40px 10px 40px;
  }
  /* FIN DEL GRID */
  /* PAGE RUTINAS */
}

/*# sourceMappingURL=stylesheet.css.map */
