$colorprincipal:#d6098b;
$colorsecundario:#dfef37;

@media only screen and (min-width: 793px) and (max-width:1200px) {

    /* FOOTER SECTION */
    
.footerdiv{

display: flex;
justify-content: space-between;

}

.redes{
color: #E7E7E7;
font-size: 25px;
margin: 10px;

}
.iglogo{
margin-top: 5px;
}

.newslettercontainer button{
padding: 7px 20px 7px 20px;
border-radius: 4px;
background-color: $colorsecundario;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
border: 1px solid $colorsecundario;
}

.emailinput{
width: 400px;
padding-right: 20px;
padding: 8px;
background-color: #5e5b66;
border: #5e5b66;
border-radius: 3px;
margin-left: 10px;

}

/* .................PAGE INICIO................. */
h1{

font-family: initial;
font-size: 75px;
text-align: center;
color:  #dfef37;
font-weight: 700;
margin: 15px;
text-shadow: 4px 4px 4px gray;
margin-top: 40px;

}



.titulo{
margin: auto;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: white;
margin: auto;
font-size: 30px;
width: 750px;
margin-top: 50px;
}

.mundofitness{
color: deeppink; 
}

.online{
color: deeppink;
font-size: 29px;
}


 /* SECCION INICIO APRENDE */

 .cardcontainer{
    display: flex;
    justify-content: center;
    margin-top: 200px   
}
.card{
    margin: 20px;
    width: calc(30.33% - 20px);
    h2{
        font-size: 30px;
    }
    p{
        font-size: 22px;
    }
    }






/* FIN  DE SECCION INICI0 APRENDE */   













/* INICIO DE EL GRID Nª2 */

.grid-container{

margin: 170px 40px 100px 40px;


display: grid;



grid-template-columns: repeat(10, 1fr);

grid-template-rows: repeat(5, 150px);



gap: 20px;
}

.grid-item-01{
background: linear-gradient(to right, #E7E7E7,#E7E7E7, #5e5b66,#3d3d3d);
grid-column: 1/11;
grid-row: 1/4;
border-radius: 5px;
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 2.7rem;
    width: 75%;
    font-weight: 600;
    padding: 20px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-size: 28px;
    width: 45%;
    margin-left: 20px;
}

}



.grid-item-02{
transform: translateX(53px) rotate(4deg);
background-color: $colorsecundario;
grid-column: 6/10;
grid-row: 2/5;
padding: 15px;
box-shadow: 39px 82px 32px 0px rgba(0,0,0,0.72);
-webkit-box-shadow: 39px 82px 32px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 39px 82px 32px 0px rgba(0,0,0,0.72);

transition: 2s;
&:hover{
    
    transform: translateY(-50px) rotate(4deg) translateX(60px);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-weight: bold;
    font-size: 39px;
    width: 90%;
}

button{
    border: none;
    background-color: #eaf93e;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;

    transition: 1s;
    &:hover{
     
     box-shadow: 0px 0px 30px 0px rgb(159, 182, 77);

}

    a{
     font-size: 22px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 500;
     color: #1A1A1A;
     text-decoration: none;

    
    }


     }

}
     /* FIN DEL GRID N2*/ 




                                         /* page rutinasss */


                                         .cardcontainerutinas{
                                            display: flex;
                                            justify-content: center;
                                            margin-top: 100px
                                        }
                                    
                                    
                                     .card1{
                                      
                                     margin: 20px;
                                     width: calc(25.33% - 20px);
                                     
                                     
                                     h2{
                                        font-size: 19px;
                                     }
                                    button{
                                     display: flex;
                                     justify-content: center;
                                        
                                    }

                                     }




                                     /* page nosotros */
                                     .grid-containernosotros{

                                        margin: 170px 400px 150px 70px;
                                        
                                      
                                        display: grid;
                                        
                                        
                                        
                                        grid-template-columns: repeat(14, 1fr);
                                        
                                        
                                        grid-template-rows: repeat(7, 100px);
                                        
                                        
                                        background: linear-gradient(to right, #E7E7E7,#5e5b66,);
                                        gap: 20px;

                                        }
                                        
                                        .grid-item-01nosotros{
                                        
                                        grid-column: 1/13;
                                        grid-row: 1/3;
                                        border-radius: 5px;
                                        h2{
                                            font-family: Arial, Helvetica, sans-serif;
                                            color: black;
                                            font-size: 48px;
                                            font-weight: 600;
                                            padding: 20px;
                                            margin-left: 35px;
                                        
                                        }
                                        
                                        p{
                                            font-family: Arial, Helvetica, sans-serif;
                                            color: #1A1A1A;
                                            font-size: 35px;
                                            width: 40%;
                                            margin-left: 50px;
                                            font-weight: bolder;
                                        }
                                       
                                        button{
                                            
                                            margin-left: 50px;
                                            @include botondefault()
                                            
                                            
                                         }
                                         button:hover{
                                             @include botondefaulthover()
                                         }
                                      
                                       

                                        }
                                

                                        .grid-item-03nosotros{

                                            grid-column: 7/10;
                                        
                                             grid-row: 1/3;
                                             margin-top: 26px;
                                           
                                             img{
                                                box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.56);
                                                -webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.56);
                                                -moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.56); 
                                             }
                                        }


}

