@media only screen and (min-width: 318px) and (max-width: 792px){
 
     
                                                            /* FOOTER SECTION */
                                                      
.redes{
  color: #E7E7E7;
  font-size: 25px;
  margin: 10px;
                                                        
 }
    
    .newslettercontainer button{
            padding: 6px 7px 6px 7px;
            border-radius: 4px;
            background-color: #dfef37;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            border: 1px solid #dfef37;
    }
   
    
    
    .emailinput{
            width: 240px;
            padding: 7px;
            background-color: #5e5b66;
            border: #5e5b66;
            border-radius: 3px;
            margin-left: 5px;
            
    }
                                                  /* .............PAGE INICIO............. */
    
    
    
    
    
    h1{
            
            font-family: initial;
            font-size: 3rem;
            text-align: center;
            color: #dfef37;
            margin: 15px;
            text-shadow: 4px 4px 4px gray;
            font-weight: 500;
        
    
    }
    
    .titulo{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: white;
            margin: 30px;
    }
    
    .mundofitness{
            color: hotpink; 
    }
    
    
    
    
    
    
    .aprendercontainer{
            background-color: white;
            display: flex;
            justify-content: center;
            width: 80%;
            text-align: center;
            border: 2px solid #f7bbce;
            box-shadow: 0 0 30px 0 whitesmoke;
            margin: auto;
            margin-top: 100px;
    }

    
    .tituloaprende{
            font-size: 35px;
            font-family: Arial, Helvetica, sans-serif;  
            margin: auto;
            font-weight: 700;
            color: rgb(223, 135, 184);
    }
    
    .listasdeaprende{
           display: inline-block;
           justify-content: center;
           padding: 10px;
           width: 200px ; 
           text-align: center; 
           font-family: Arial, Helvetica, sans-serif; 
           
     }
    
    .subtituloaprende{
            font-size: 25px;
            
    }
    
    .textoaprende{
            font-size: 18px;
    }
    
    .botonesaprender{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
            border-radius: 5px;
            border: 2px solid black;
            padding: 9px 25px 9px 25px;
            font-size: 17px;
            background-color:#dfef37;
           
            margin-top: 20px;
    }
    
    .botonesaprender a{
            text-decoration: none;
            color: black;
    }
    
    .botonesaprender:hover a{
           color:black;
           font-size: 20px;
           transition: 0.6s;
           text-shadow: 1px 1px 1px #C6C6C6;
    }
    
    .botonesaprender:hover{
            box-shadow: 0 0 15px 0 black;
            transition: 0.7s;
    
    }
                                         /*............... SECTION GRID............... */
    .grid-container{
    
            margin: 10px;
        
            /* border: 1px solid black; */
        
            /* display: grid; */
            display: grid;
        
            /* grid-template-columns: 150px 150px 60px 250px 150px; */
        
            grid-template-columns: repeat(4, 1fr);
        
            /* crear filas (ROW) */
            grid-template-rows: repeat(4, 420px);
        
            /* row-gap 
                column-gap
                gap
            */
            /* row-gap: 10px;
            column-gap: 25px; */
        
            gap: 15px;
        }
                                          /* ITEM 01 */
        .grid-item-01{
            background-color:white;
            grid-column: 1/5;
            grid-row: 1/2;
            border-radius: 2px;
            
    
        }
        .grid-item-01 h2{
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            font-size: 1.7rem;
            width: 100%;
            font-weight: 600;
            padding: 20px;
            text-shadow: 2px 1px 1px #dfef37;
            
            
            
        }
        
        .grid-item-01 p{
            font-family: Arial, Helvetica, sans-serif;
            color: #1A1A1A;
            font-size: 25px;
            width: 95%;
            margin-left: 10px;
        }
        
                                             /*ITEM 02 */
        .grid-item-02{
            background-color: #dfef37;
            grid-column: 1/5;
            grid-row: 2/3;
            padding: 15px;
            border-radius: 5px;
            box-shadow: inset 0 0 40px 0 whitesmoke;
           text-align: left;
            
        }
        
        .grid-item-02 h3{
            font-family: Arial, Helvetica, sans-serif;
            color: #1A1A1A;
            font-weight: bold;
            font-size: 2rem;
            width: 100%;
            text-align: left;
          
            margin: auto;
        }
        
        .grid-item-02 p{
            font-family: Arial, Helvetica, sans-serif;
            color: #1A1A1A;
            font-size: 27px;
            width: 75%;
            margin-top: 15px;
           
            
           
        }
                                              /* ITEM 03 */
        .grid-item-03{
            background-color:#99999e;
            grid-column: 1/5;
            grid-row: 3/4;
            border-radius: 5px;
            
            
           
        }
        
        .grid-item-03 p{
            font-family: Arial, Helvetica, sans-serif;
            color: #1A1A1A;
            font-size: 1.5rem;
            width: 95%;
            margin: 18px 0px 0px 10px;

           
        }
    
        
    
        .div-interno-03 span{
            font-size: 22px;
            color: #dfef37;
        }
    
        
        .botonVR button{
            background-color: #99999e;
            border-radius: 6px;
            border: 1px solid #dfef37;
            box-shadow: 0 0 17px 0 white;
            padding: 5px 30px 5px 30px;
        }
    
       
        
    
    
                                                 /*....FIN DEL SECTION GRID.... */
    
    
                                                     
    
                                                     /*.....PAGE RUTINAS..... */

                                                    
                                                
                                             
                
    
    }