$colorprincipal:#d6098b;
$colorsecundario:#dfef37;

@mixin botondefault {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-radius: 5px;
    border: 1px solid black;
    padding: 7px 30px 7px 30px;
    font-size: 17px;
    background-color:$colorsecundario;
    margin-top: 7px;
}

@import "mobilescreen";


@import "desktopscreen";

@import "ipadscreen.scss";

 




*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #262727;
}
    
header{
    border-bottom: 2px solid black;
}


.colorwhite{
           
    color: white !important;
}

.colorwhite:hover {
    color: $colorsecundario !important;
    border-bottom: 1px solid $colorsecundario !important;
}

.bgcolor{
    background-color: #47454d;
}

.pinkbgcolor{
    background-color: #fca2d2; 

}

.footerdiv{
    border-top: 1px solid #C6C6C6;
}
.logosdiv{
                                                        
    margin-right: 15px;
    display: flex;
    margin-top: 10px;
}

.newslettercontainer{
  margin-bottom: 40px;
}

.newslettercontainer p{
    color: aliceblue;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
.newslettercontainer button:hover{
    background-color: rgb(244, 255, 128);
    transition: 1s;
}


.buttonconocenos a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

.buttonconocenos button{
    background: linear-gradient(#262727,black);
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: 0 0 17px 0 white;
    padding: 10px 50px 10px 50px;
}

.buttonconocenos:hover button{
    box-shadow: 0 0 90px 0 white;
    transition: 1s;
}

.buttonconocenos{
   
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.botonVR{
    display: flex;
    justify-content: center;
    
}
.botonVR a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 19px;
    
}
.botonVR button:hover a{
    font-size: 21px;
    transition: 1s;
}
.botonVR button:hover {
    box-shadow: 0 0 25px 0 white;

}   

/* BOTON APRENDER */
.botonesaprender{
    @include botondefault();
}

.botonesaprender a{
    text-decoration: none;
    color: black;
}

.botonesaprender:hover a{
    color:black;
    font-size: 20px;
    transition: 0.6s;
    text-shadow: 1px 1px 1px gainsboro;
}

.botonesaprender:hover{
    box-shadow: 0 0 15px 0 black;
    transition: 0.7s;

}








                                                          /* page rutinas */
.containersubtitulorutinas{
    display:flex;
    justify-content: center;   
    width: 80%; 
    margin: auto;
}

.subtitulorutinas{
    margin-top: 30px;
    border-radius: 10px;
    padding: 8px;
    color: #E7E7E7;
    font-size: 18px;
    box-shadow: 0 0 50px 0 pink;
}
.container-registrarse{
    margin-top: 90px;
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
   

}


.container-registrarse a{
    
  
   font-family: Arial, Helvetica, sans-serif;
   color: deeppink;
}
.container-registrarse a:hover{
    font-size: 24px;
    transition: 1s;


}
.titulorutinas{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    margin: auto;
    color: hotpink;
}

#cardsdiv{
    text-align: center;
    justify-content: center;
    }                                       
    
    .margincards{
        
        margin: auto;
        margin-bottom: 20px;

    }

    .margincards img {
        object-fit: cover;
       
    }
    
    
    .titulorutinas{
        color: #fca2d2;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        padding: 25px;
    }
    .btncolor{
        @extend .botonesaprender;
        color: #262727 !important;
        
       
    }
    
    
    .btncolor:hover{
        font-size: 20px;
        box-shadow: 0 0 15px 0 black;
        transition: 0.5s;
        color: #262727;
    }





/* queries */



